@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

@media screen and (min-width: 0px) {
    :root {
        --logo-min-height: 64px;
        --main-item-min-width: 400px;
        --main-item-max-width: 100%;
    }
}

@media screen and (min-width: 800px) {
    :root {
        --main-item-min-width: 700px;
    }
}

@media screen and (min-width: 1000px) {
    :root {
        --main-item-min-width: 200px;
        --main-item-max-width: 400px;
    }
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    margin: 0;

    height: 100%;
    min-height: 100%;
}

.root {
    flex-direction: column;
    min-height: 100%;
}

.logo-container {
    padding: 10px;
    flex: 0 1 var(--logo-min-height);
}

.logo {
    border-radius: 50%;

    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main-item {
    flex: 1 0 var(--main-item-min-width);
    max-width: var(--main-item-max-width);

    padding: 10px;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-gutter {
    flex: 100;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}
